.page-link {
  color: black;
  font-size: 25px;
  text-decoration: none;
}

a:hover {
  color: palevioletred;
}
a.visited {
  color: palevioletred;
}

.search-engine {
  display: inline;
  text-align: right;
}
.headcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

textarea {
  width: 300px;
  height: 150px;
}
