header {
  text-align: center;
}
.paragraph {
  text-align: right;
}

p:first-child {
  font-style: italic;
}

.paragraph:nth-child(2) {
  background-color: blue;
  color: 255, 255, 255;
}

.second-p {
  text-align: justify;
}

.second-p1 {
  background-color: cadetblue;
}

.second-p2 {
  text-transform: uppercase;
}

.second-p3 {
  text-transform: capitalize;
}
.first-word {
  font-size: 24px;
}
